<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <a href="/">HOME</a>
        <a href="/about">about</a>
        <a href ="/logout">logout</a>
        <a href="/gradecalculation">gradecalculation</a>
      </nav>
</head>
<body>
    <form>
        <label>subject1</label>
    <select name="sub1" id="sub1">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
        
    </select>
    <select name="sub1g" id="sub1g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject2</label>
    <select name="sub2" id="sub2">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub2g" id="sub2g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject3</label>
    <select name="sub3" id="sub3">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub3g" id="sub3g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject4</label>
    <select name="sub4" id="sub4">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub4g" id="sub4g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject5</label>
    <select name="sub5" id="sub5">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub5g" id="sub5g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject6</label>
    <select name="sub6" id="sub6">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub6g" id="sub6g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject7</label>
    <select name="sub7" id="sub7">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub7g" id="sub7g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject8</label>
    <select name="sub8" id="sub8">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub8g" id="sub8g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject9</label>
    <select name="sub9" id="sub9">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub9g" id="sub9g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject10</label>
    <select name="sub10" id="sub10">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub10g" id="sub10g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>

    </br>
    <label>subject11</label>
    <select name="sub11" id="sub11">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub11g" id="sub11g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>
    <label>subject12</label>
    <select name="sub12" id="sub12">
        <option value = 0>0</option>
        <option value=1>1</option>
        <option value = 2>2</option>
        <option value = 3>3</option>
        <option value = 4>4</option>
    </select>
    <select name="sub12g" id="sub12g">
        <option value=10>S</option>
        <option value = 9>A</option>
        <option value = 8>B</option>
        <option value = 7>C</option>
        <option value = 6>D</option>
    </select>
    </br>

    <button type = "button" onclick="conv()">submit</button>
    </form>

    
    <p id = 'hloo'></p>



    <script> 
        function conv(){
            
            var i;
            //calculating grade * credit and stoting in list
            //also adding total credits
          var  s_s_g=0;
           var sumcedit =0;
          for(i=1;i<11;i++){
            st = "sub".concat(i.toString());
            var subcredits = document.getElementById(st).value;
            subcredits = parseInt(subcredits);
            sumcedit=subcredits+sumcedit;
            var substgrade=document.getElementById(st.concat("g")).value;
            substgrade=parseInt(substgrade);
            var totalgrade = subcredits*substgrade;
            s_s_g = s_s_g+totalgrade;
          }
          
          //calculating avg grade
          var sttotalgrade = s_s_g/sumcedit;
          document.getElementById("hloo").innerHTML=sttotalgrade;
        
        }
    </script>
</body>
</html>